.menu-content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
}
.block1{
    margin-left: 2%;
}
.nav{
    display: flex;
    margin-right: 20px;
}
.menu-content2 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
}
.menu{
    width: 30%;
    text-align: center;
    margin-left: 1%;
}

.menu2 img {
    width: 80%;
    height: 80%;
}

.menu2{
    margin-left: 1%;
    width: 22%;
    text-align: center;
}

.header p {
    color: black;
}

.header {
    text-align: center;
    margin-left: 3%;
    width: 20%;
    height: 5%;
    background-color: rgb(102, 0, 146);
}
.nav{
    margin-left: 3%;
}
.block1 a{
    color: black;
}

.block a{
    color: black;
    margin-left: 30px;
}

.zagolovok h1{
    margin-left: 3%;
}

.zagolovok2 h2{
    margin-left: 3%;
    color:rgb(113, 109, 109);
}

@media screen and (max-width: 1280px) {
    .menu {
        width: 30%;
        margin-left: 1%;
    }
    
    .menu2{
        width: 45%;
        text-align: center;
    }
}

@media screen and (max-width: 640px) {
    .menu {
        width: 100%;
    }
    .menu2 img{
        width: 80%;
        height: 80%;
    }
    
    .menu2{
        width: 50%;
        text-align: center;
    }
}



@media screen and (max-width: 414px) {
    .zagolovok h1{
        font-size: 90%;
    }
    .menu img{
        width: 80%;
        height: 80%;
    }
    
    
    .menu2 {
        margin-top: 3%;
        width: 150%;
    }

}
